# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do Node.js
node_modules/
dist/
build/

# Configurações e ambientes locais
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
docker-compose.override.yaml
*.pid
*.swp

# Sistema operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Arquivos temporários
*.temp
*.tmp
~$

# Cache do navegador
*.cache

# Outros
*.bak
*.swp
