.container-card {
  width: 300px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  margin-bottom: 30px;

  position: absolute;

  .card-content-img {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      padding: 30px 0;
    }
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0;
  }

  .card-description {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 30px;

    .tag {
      display: inline-block;
      padding: 6px 12px;
      border-radius: 20px;

      .tag-name {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}


.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  width: 300px;
  height: 356px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.block {
    visibility: hidden;
  }
}




/* Modal Base */
.modal {
  display: none; /* Oculto por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  h2 {
    text-align: left;
  }
}

/* Exibição do modal */
.modal.show {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content ul {
  text-align: left;
  padding-left: 20px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
