<section
  [ngStyle]="{ background: backgroundColor, color: textColor }"
  class="container-card"
  (click)="openModal()"
>
  <div class="card-content-img">
    <img [src]="imageSrc" [alt]="title">
  </div>
  <h1 class="card-title" [innerHTML]="title" [ngStyle]="{color: textColorTitle }">
  </h1>
  <p class="card-description">
    {{ description }}
  </p>
  <div class="tags">
    <div
      *ngFor="let tag of tags"
      [ngStyle]="{ background: tag.background, color: tag.color }"
      class="tag"
    >
      <p class="tag-name">{{ tag.name }}</p>
    </div>
  </div>
</section>

<div class="overlay" [ngClass]="block ? 'block' : ''">
  <img src="assets/images/block.png" alt="">
</div>


<!-- Modal -->
<app-modal
  [isModalOpen]="isModalOpen"
  [title]="modalData.title"
  [description]="modalData.description"
  [moduleXp]="modalData.moduleXp"
  [objectiveTitle]="modalData.objectiveTitle"
  [objectiveDesc]="modalData.objectiveDesc"
  [topics]="modalData.topics"
  (close)="closeModal()"
  (start)="startModule()"
></app-modal>
