<section class="login-container">
  <div class="login-content">
    <div class="content-image">
      <img src="assets\images\logo-name.svg" alt="">
    </div>
    <section class="content-inputs">
      <h1 class="title">Iniciar sessão</h1>
      <p class="description">Faça o login para usar o Denarius</p>

      <div class="inputs">
        <app-input-field
        id="email"
        type="text"
        placeholder="Insira seu e-mail..."
        [(value)]="email"
      ></app-input-field>

      <app-input-field
        id="password"
        type="password"
        placeholder="Insira sua senha..."
        [(value)]="password"
      ></app-input-field>
      </div>
      <a class="forgot-password">Esqueceu a senha?</a>
      <div class="content-submit">
        <a href="/modulos" id="login-submit">Entrar</a>
      </div>
      <div class="content-another-logins">
        <p class="line-text">Ou inicie com</p>
        <div class="another-logins">
          <div>
            <img src="assets\images\login\google.png" alt="">
          </div>
          <div>
            <img src="assets\images\login\facebook.png" alt="">
          </div>
          <div>
            <img src="assets\images\login\apple.png" alt="">
          </div>
        </div>

        <p class="register">Ainda não possui conta? <a class="register-link" href="/cadastro">Criar conta</a></p>
      </div>
    </section>
  </div>
</section>
