@use '../../../assets/styles/variables.scss' as vars;

input.input-field {
  background-color: vars.$gray-color-two;
  border-radius: 5px;
  height: 48px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
  width: 100%;

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
}
