@use '../../../assets/styles/variables.scss' as vars;

.top-navbar {
  &-container {
    background: #FF8C00;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 145px;
    border-radius: 0 0 110px 110px;

  }

  &-content {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 15px;
    padding-top: 34px;

    img {
      border-radius: 30px;
    }

    .about-perfil {
      p.name {
        font-size: 16px;
        font-weight: normal;
        color: wheat;
      }

      p.level {
        color: #003D6C;
        font-size: 12px;
        font-weight: bold;
        padding-top: 5px;
      }

    }
  }

}






.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.menu-button {
  background-color: vars.$white-color;
  color: vars.$primary-color;
  padding: 10px 20px;
  border: 1px solid vars.$primary-color;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 35px;

}

.menu-button:hover {
  border: 2px solid vars.$primary-color;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-top: 5px;
  width: 150px;
  z-index: 1000;
}

.menu-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  background-color: #f1f1f1;
}
