<section class="top-navbar-container">
  <div class="top-navbar-content">
    <div class="content-img-perfil">
      <img style="
      width: 46px;
  " src="assets/images/ranking/user.jpg" alt="">
    </div>
    <div class="about-perfil">
      <p class="name">Oi, {{nameUser}} 👋🏻</p>
      <p class="level">Nível 01</p>
    </div>
  </div>

  <!-- <div class="menu-container" (click)="toggleMenu()">
    <button class="menu-button">Lidando com cartão de crédito ‎ ‎ ‎ ‎ ‎ ▼</button>
    <div class="dropdown-menu" *ngIf="isMenuOpen">
      <p href="" class="menu-item">Opção 1</p>
      <p href="" class="menu-item">Opção 2</p>
      <p href="" class="menu-item">Opção 3</p>
    </div>
  </div> -->

</section>
