<section class="perfil-container">
  <div class="perfil-background">
    <img src="assets/images/profile/config.png" alt="">
  </div>
  <div class="perfil-content">
    <div class="perfil-img">
      <img src="assets/images/profile/Avatar.png" alt="">
    </div>
    <div class="perfil-info">
      <p class="name">Maria</p>
      <p class="level">Recruta</p>
      <div class="xp">
        <div class="bar"></div>
        <div class="progress-bar">0/250 XP</div>
      </div>
    </div>

    <div class="modules">
      <div class="module">
        <div class="info-module">
          <div class="title-module">
            Atividade 01
          </div>
          <div class="progress">0%</div>
        </div>
        <div class="img-module">
          <img src="assets/images/profile/img-atv1.png" alt="">
        </div>
      </div>
      <div class="module">
        <div class="info-module">
          <div class="title-module">
            Atividade 02
          </div>
          <div class="progress block">Bloqueado</div>
        </div>
        <div class="img-module">
          <img src="assets/images/profile/img-atv2.png" alt="">
        </div>
      </div>
      <div class="module">
        <div class="info-module">
          <div class="title-module">
            Atividade 03
          </div>
          <div class="progress block">Bloqueado</div>
        </div>
        <div class="img-module">
          <img src="assets/images/profile/img-atv3.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>
