<div class="ranking-container">
  <div class="navigation">
    <a href="/modulos">
      <img src="assets\images\navigate_before.png" alt="voltar">
    </a>
    <img src="assets\images\question.png" alt="dúvida">
  </div>
  <!-- Título -->
  <h2 class="title">Classificação</h2>

 <!-- Para o Top 3 -->
<div class="chart">
  <!-- Segunda posição -->
  <div class="bar-container second">
    <div class="user-info">
      <img src="assets/images/ranking/user.jpg" alt="Foto do usuário" class="user-photo" />
      <!-- <div *ngIf="!topThree[1]?.photo">Sem Foto</div> -->
      <div class="user-name">{{ topThree[1]?.name }}</div>
      <div class="user-xp">{{ topThree[1]?.xp }} XP</div>
    </div>
    <div class="bar" [style.height.px]="calculateHeight(topThree[1]?.xp)">2</div>
  </div>

  <!-- Primeira posição -->
  <div class="bar-container first">
    <div class="user-info">
      <img src="assets/images/ranking/user.jpg" alt="Foto do usuário" class="user-photo" />
      <!-- <div *ngIf="!topThree[0]?.photo">Sem Foto</div> -->
      <div class="user-name">{{ topThree[0]?.name }}</div>
      <div class="user-xp">{{ topThree[0]?.xp }} XP</div>
    </div>
    <div class="bar" [style.height.px]="calculateHeight(topThree[0]?.xp)">1</div>
  </div>

  <!-- Terceira posição -->
  <div class="bar-container third">
    <div class="user-info">
      <img src="assets/images/ranking/user.jpg" alt="Foto do usuário" class="user-photo" />
      <!-- <div *ngIf="!topThree[2]?.photo">Sem Foto</div> -->
      <div class="user-name">{{ topThree[2]?.name }}</div>
      <div class="user-xp">{{ topThree[2]?.xp }} XP</div>
    </div>
    <div class="bar" [style.height.px]="calculateHeight(topThree[2]?.xp)">3</div>
  </div>
</div>

<!-- Para a Lista de Usuários -->
<div class="ranking-list">
  <div *ngFor="let user of remainingUsers; let i = index" class="list-item" [ngClass]="{'logged-in': isLoggedUser(user.id)}">
    <div class="list-position">{{ i + 4 }}</div>
    <div class="user-list">
      <div class="img-name">
        <img  src="assets/images/ranking/user.jpg" alt="Foto do usuário" class="list-photo" />
        <!-- <div *ngIf="!user?.photo">Sem Foto</div> -->
        <div class="list-name">{{ user.name }}</div>
      </div>
      <div class="list-xp">{{ user.xp }} XP</div>
    </div>
  </div>
</div>

  <app-bottom-nabvbar></app-bottom-nabvbar>

</div>
