.modules {
  &-content {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 180px;
    padding-bottom: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

  }

  app-module-card {
    margin-bottom: 30px;
  }
}

