<section class="modules-container">
  <app-top-nabvbar></app-top-nabvbar>

  <div class="modules-content">
    <ng-container *ngFor="let module of modules">
      <app-module-card
        [title]="module.title"
        [description]="module.description"
        [imageSrc]="module.imageSrc"
        [backgroundColor]="module.backgroundColor"
        [textColorTitle]="module.textColorTitle"
        [textColor]="module.textColor"
        [tags]="module.tags"
        [block]="module.isBlocked"
      ></app-module-card>
    </ng-container>
  </div>
  <app-modal></app-modal>
</section>


