$max-width-login: 360px;
$margin-center: 0 auto;


/* FONTS */
$font-family-base: 'Montserrat', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
body {
  font-family: $font-family-base;
}

// COLORS
$primary-color: #007BFF;
$secondary-color: #FF8C00;
$black-color: #3a3a3c;
$gray-color: #858585;
$gray-color-two: #E8E8E8;
$gray-color-three: #B0B0B0;
$white-color: #F9F9F9;

