.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  background: #F9F9F9;
}

.quiz-step {
  .feedback-title {

    font-size: 36px;
    margin: 20px 0;
    color: #007BFF;
    width: 233px;
    margin: 23px auto;
    width: 326px;
    text-align: left;

    span {
      color: #FF8C00;
    }
  }
}

.content-feedback  {
  width: 250px;
  margin: 0 auto;
  color: #3A3A3C;
  p{
    margin: 10px;
    span {
    color: #FF8C00;
    font-weight: bold;
    line-height: 27px;
    }
  }
}


span.quiz-progress {
  font-size: 12px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.quiz-title {
  font-size: 20px;
  margin: 20px 0;
  color: #3A3A3C;
  width: 233px;
  margin: 23px auto;
  width: 326px;
}

.quiz-image {
  max-width: 150px;
  margin: 20px auto;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz-option {
  padding: 16px 30px;
  border: 2px solid #007BFF;
  border-radius: 14px;
  background-color: #F9F9F9;
  cursor: pointer;
  transition: all 0.3s;
  color: #007BFF;
  width: 296px;
  font-size: 16px;
  margin: 0 auto;
}

.quiz-option:hover {
  background-color: hsla(205, 84%, 88%, 0.283);
}

.quiz-option.selected {
  border-color: #007BFF;
  background-color: #007BFF;
  color: #F9F9F9;
}

.quiz-option.correct {
  border-color: #28a745;
  background-color: #d4edda;
}

.btn-confirm,
.btn-next,
.btn-finish {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 30px;
  padding: 15px 30px;
}

.btn-confirm:disabled {
  background-color: #cccccc;
}


.quiz-modal {

  background: #F8F4E6;
  margin: 100px 20px 20px;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  .modal-content {
    h1 {
      color: #007BFF;
      width: 177px;
      margin: 0 auto;
      font-size: 24px;
    }

    .coin {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding-top: 30px;
    }

  }

}

.btn-exit {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-exit:hover {
  background-color: #e60000;
}
