<div class="quiz-container">
  <!-- Navegação superior -->
  <div class="quiz-header">
    <span class="quiz-progress">
      Pergunta {{ currentQuestionIndex + 1 }} de {{ totalQuestions }}
    </span>
    <button class="btn-exit" (click)="exit()">x</button>
  </div>

  <!-- Etapa da pergunta -->
  <div class="quiz-step" *ngIf="currentQuestion && step === 'question'">
    <h1 class="quiz-title">{{ currentQuestion?.question }}</h1>
    <img [src]="currentQuestion?.image_path" alt="Ilustração" class="quiz-image" />

    <div class="quiz-options">
      <button
        *ngFor="let option of currentQuestion?.options; let i = index"
        class="quiz-option"
        [class.selected]="selectedOption === i"
        (click)="selectOption(i)"
      >
        {{ option?.text }}
      </button>
    </div>

    <button class="btn-confirm" [disabled]="selectedOption === null" (click)="confirmAnswer()">
      Confirmar
    </button>
  </div>


  <!-- Modal de feedback da resposta -->
  <div *ngIf="step === 'modal'" class="quiz-modal">
    <div class="modal-content">
      <h1>{{ modalTitle }}</h1>
      <p>{{ modalDescription }}</p>
      <img [src]="modalImage" alt="Celebration" class="modal-image" />

      <div class="coin">
        <p *ngIf="isCorrect" class="modal-score">+{{ modalScore }} moedas</p>
        <img *ngIf="isCorrect" src="assets/images/icone_moeda.png" alt="moeda" class="modal-image" />
      </div>

      <button class="btn-next" (click)="goToNextQuestion()">Próxima</button>
    </div>
  </div>

  <!-- Feedback final -->
  <div *ngIf="step === 'end'" class="quiz-step quiz-modal">
    <h1 class="feedback-title" *ngIf="(totalScore / (totalQuestions * 10) * 100) > 70">
      Mandou <br> bem <span>{{ nameUser }}</span>!!
    </h1>
    <h1 class="feedback-title" *ngIf="(totalScore / (totalQuestions * 10) * 100) < 70" >
      Não foi dessa <br> vez <span>{{ nameUser }}</span>!!
    </h1>

    <div class="content-feedback" *ngIf="(totalScore / (totalQuestions * 10) * 100) > 70">
      <p>
        Você acumulou <span>+ {{ totalScore }} moedas</span> no seu saldo!
        E <span>{{ (totalScore / (totalQuestions * 10) * 100) | number: '1.0-0' }}%</span> das perguntas!!
      </p>
      <p class="desc-feedback" >
        O próximo módulo já está desbloqueado para você continuar aprendendo.
      </p>
    </div>

    <div class="content-feedback" *ngIf="(totalScore / (totalQuestions * 10) * 100) < 70">
      <p>
        Você acertou apenas <span>{{ (totalScore / (totalQuestions * 10) * 100) | number: '1.0-0' }}%</span> das perguntas!!
      </p>
      <p class="desc-feedback">
        Tente novamente, até atingir no mínimo 70% e avançar para o próximo módulo
      </p>
    </div>

    <p>Sua pontuação total: {{ totalScore }}</p>
    <img style="display: block; margin: 0 auto;" *ngIf="(totalScore / (totalQuestions * 10) * 100) > 70" src="assets/images/mandou_bem.png" alt="">
    <img style="display: block; margin: 0 auto;" *ngIf="(totalScore / (totalQuestions * 10) * 100) < 70" src="assets/images/quase_la.png" alt="">

    <button class="btn-finish" (click)="finishModule()">Finalizar</button>
  </div>
</div>
